################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/smart-contracts/artifacts
/smart-contracts/cache
/smart-contracts/node_modules
/smart-contracts/contracts/core/artifacts
/smart-contracts/contracts/libs/artifacts
/smart-contracts/contracts/interfaces/artifacts
/smart-contracts/contracts/periphery/vault/artifacts
/smart-contracts/contracts/periphery/pool/artifacts
/smart-contracts/contracts/periphery/artifacts
/smart-contracts/contracts/only-for-tests/artifacts
/smart-contracts/contracts/util/artifacts
/smart-contracts/contracts/periphery/rewards/artifacts
/smart-contracts/contracts/periphery/vault/strategies/artifacts
