.trade-menu {
    background-color: #1a1a1a;
    width: 300px;
    height: calc(100vh - 62px);
}

.trade-menu-pair-balance-info {
    padding: 8px 15px;
    margin-bottom: 20px;
}

.trade-menu-balance-title {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.45px;
    text-align: left;
    color: #ffffff;
    padding: 10px 0;
}

.pair-balance-item {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
}

.pair-balance-item:last-child {
    border-top: 1px solid #737373;
}

.trade-menu-pair-symbol,
.trade-menu-pair-balance {
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.trade-menu-pair-symbol {
    flex-grow: 1;
}

.trade-menu-pair-balance {
    text-align: right;
    flex-shrink: 0;
}

.trade-menu-pair-title {
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.43px;
    text-align: left;
    color: #ffffff;
    padding: 8px 15px;
}

.trade-menu .option-badge {
    margin: 0 15px 8px;
}

.option-type-wrapper {
    border-bottom: solid 1px #000000;
    margin-bottom: 15px;
}

.option-type-wrapper:last-child {
    border-bottom: none;
}

.option-balance-item,
.empty-options-message {
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.28px;
    text-align: left;
    color: #7f7f7f;
    display: flex;
    flex-direction: row;
    padding: 8px 15px;
    position: relative;
}

.option-balance-item {
    cursor: pointer;
}

.option-balance-item:hover,
.option-balance-item.active {
    color: white;
    background-color: #242424;
}

.option-balance {
    min-width: 40px;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: right;
}

.option-symbol {
    max-width: 100%;
    flex-grow: 1;
}