.exercise-action .input-column {
    margin:auto;
}

.exercise-action .input-label {
    height: unset;
    margin-bottom: 8px;
}

.highlight-background {
    background-color: #3b3b3b;
}

.summary-title {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 18px;;
}

.summary-table {
    width: 100%;
}

.summary-table .insufficient-funds-error td,
.summary-table .insufficient-funds-error td:last-child{
    background-color: #ff0000;
}

.summary-table td {
    border: solid 1px #4c4c4c;
    width: 50%;
    height: 38px;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.55px;
    text-align: center;
    color: #ffffff;
}

.summary-table td:last-child {
    background-color: #2b2b2b;
}

.insufficient-funds-message {
    margin-top: 12px;
    margin-bottom: 4px;
    color: red;
    font-weight: 500;
}
