.simple-buy-tab {
    padding: 20px 10px;
}

.simple-buy-tab .inputs-wrapper {
    display: flex;
    justify-content: space-between;
}

.simple-buy-tab .input-label {
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #e6e6e6;
}

.simple-buy-tab .input-field input {
    font-size: 16px;
    width: 100%;
    color: #e6e6e6;
    text-align: center;
}

.simple-buy-tab .input-field input::placeholder {
    color: #4c4c4c;
    opacity: 1;
}

.type-toggle {    
    border: none;
}

.type-toggle .option-badge {
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.type-toggle .option-badge.active {
    cursor: default;
}

.type-toggle .option-badge.unselected {
    background: transparent;
    border: solid 1px #4c4c4c;
}

.type-toggle .option-badge.unselected:not(:hover) {
    color: #4c4c4c;
}

.type-toggle .option-badge:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.type-toggle .option-badge:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.simple-buy-tab select {
    width: 100%;
    height: 100%;
    background: transparent;
    color: #e6e6e6;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.8px;
    border: none;
}

.simple-buy-tab .input-column {
    max-width: unset;
    margin: 0 10px;
    text-align: center;
}

.simple-buy-tab .input-column .input-field {
    width: unset;
    min-width: 115px;
}

.simple-buy-tab .input-column.strike-column,
.simple-buy-tab .input-column.expiration-column {
    width: 175px;
    min-width: 175px;
    max-width: 175px;
}

.prices-wrapper .separator {
    border-top: solid 0.5px #737373;
    margin: 16px 0;
}

.prices-wrapper .input-label {
    height: unset;
    padding-bottom: 8px;
}

.action-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.simple-buy-tab .chart-and-prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.simple-buy-tab .option-chart-wrapper {
    width: calc(100% - 200px);
    margin: 0 10px;
}

.simple-buy-tab .prices-wrapper {
    width: 170px;
    margin: 0 10px;
}

.home-btn.disabled {
    opacity: 0.5;
    cursor: default;
}

.price-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 0.4px;
}

.price-value > div:first-child {
    text-align: right;
    color: #a6a6a6;
    width: 51px;
}

.price-value > div:last-child {
    font-weight: 500;
    text-align: left;
    color: #e6e6e6;
    padding-left: 6px;
    letter-spacing: 0.2px;
    width: calc(100% - 51px);
}