.pools-wrapper {
    max-width: 760px;
    margin: auto;
    padding: 16px;
}

.pooled-liquidity {
    border-radius: 12px;
    margin: auto;
    background-color: #151515;
    margin-bottom: 16px;
}

.pooled-liquidity {
    background-color: transparent;
}

.pooled-liquidity-title {
    margin-bottom: 16px;
    font-weight: bold;
}

.alert-message {
    margin-top: 16px;
    color: #1782fc;
}