.trade-page {
    height: calc(100vh - 63px);
    display: flex;
    flex-direction: row;
}

.advanced-content {
    height: calc(100vh - 63px) !important;
    width: calc(100% - 300px);
    overflow-y: auto;
}