.swal2-container {
    z-index: 2000 !important;
}

.swal2-popup.swal2-modal
{
    background-color: #2b2b2b;
    padding: 0;
    width: 320px;
}

.swal2-header {
    background-color: #383838;
    padding: 1.25em;    
    border-radius: 4px 4px 0px 0px;
}

.swal2-content {
    padding: 1.25em !important;
}

.swal2-popup.swal2-modal .swal2-actions {
    margin: 0 auto;
    padding-bottom: 1.25em;
    font-size:11px;
}

.swal2-popup.swal2-modal .swal2-title {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.8px;
    text-align: center;
    color: #e5e5e5;
    margin-bottom: 0;
}

.swal2-popup.swal2-modal .swal2-content div {
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #e6e6e6;
}